:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--color-fondo);
    font-family: Arial, sans-serif;
    color: var(--color-texto);
}

/* Clases de utilidad que vas a usar en toda la app */
.btn-principal {
    font-weight: bold;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-principal:hover {
    background-color: var(--color-focus);
}